@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply antialiased;
  }
  body,
  div,
  section,
  a,
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  header,
  ul,
  li,
  main,
  footer {
    @apply font-inter;
  }
}

@layer utilities {
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type='number'] {
    -moz-appearance: textfield;
  }
}
